body{
    overflow: hidden;
}
.list-body{
    width:100%;
    text-align:center;
    position: relative;
}
.list-body .cover{
    width:100%;
    height:100%;
    opacity:0.5;
    background: #444444;
    position: absolute;
    z-index:4;
}
#background-img{
    display: inline-block;
}
.list-body-middle{
    position:absolute;
    left:calc(50% - 512px);
    z-index:5;
    height:100%;
    width:1024px;
}
.list-search-tap{
    margin:0 auto;
    height:140px;
    position: relative;
}
.search-tap-duty{
    position: absolute;
    top:20px;
    height:50px;
    width:100%;
    line-height:50px;
}
.search-tap-range{
    position: absolute;
    top:90px;
    height:50px;
    width:100%;
    line-height:50px;
}

.search-tap-duty div,.search-tap-range div{
    float:left;
    border:1px solid white;
    width:100px;
    height:100%;
    text-align: center;
    font-size:22px;
    color: white;
}
.search-tap-duty div:not(.first):hover,.search-tap-range div:not(.first):hover{
    cursor: pointer;
    background: rgba(255,255,255,0.5);
    animation :boxShineBlue 1s infinite alternate;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.search-tag-selected{
    background: #00dfff;
}

.search-tap-duty .first,.search-tap-range .first{
    background:#03B7FF;
}

/* 下方列表内容 */
.list-piiic-list{
    margin-top:20px;
    overflow:scroll;
    overflow-x:hidden;
}
.list-piiic-list .cell{
    position: relative;
    float:left;
    border:1px solid white;
    width:338px;
    height:33%;
    overflow: hidden;
    background: rgba(255,255,255,0.2);
}

/* 单元格 */
.list-piiic-list .cell:hover{
    cursor: pointer;
    background: rgba(255,255,255,0.5);
    animation :boxShineBlue 1s infinite alternate;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
/* 图片 */
.list-piiic-list .cell .cell-img{
    width:39%;
    height: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
}
.list-piiic-list .cell .cell-img img{
    position: absolute;
    display: inline-block;
    width:60%;
    right: 10px;
    top:4%;
    border: 1px solid white;
}
/* 图片 */

/* 文字 */
.list-piiic-list .cell .cell-word{
    width:60%;
    height: 100%;
    display: inline-block;
    position: absolute;
    left:39%;
}
.list-piiic-list .cell .cell-word .header{
    height:10%;
}
.list-piiic-list .cell .cell-word .header .main-color{
    width: 80px;
    height:7px;
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 2px;
}
.list-piiic-list .cell .cell-word .header .time{
    color:white;
    position: absolute;
    right: 3px;
    top:3px;
}
.list-piiic-list .cell .cell-word .name{
    color:white;
    font-size: 21px;
    position: absolute;
    top:15%;
}
.list-piiic-list .cell .cell-word .type{
    position: absolute;
    top:35%;
    height:40%;
    width:100%;
}
.list-piiic-list .cell .cell-word .type .duty{
    width:50%;
    height:100%;
    position: absolute;
    left: 0;
    display: inline-block;
    text-align: right;
}
.list-piiic-list .cell .cell-word .type .duty .en{
    color:white;
    font-family: "Book Antiqua";
}
.list-piiic-list .cell .cell-word .type .duty .ch{
    font-size: 45px;
    color:white;
    font-weight: bolder;
    font-family: "Adobe 楷体 Std R";
    margin-top: -5px;
}
.list-piiic-list .cell .cell-word .type .logo{
    display: inline-block;
    width:30%;
    position: absolute;
    left: 55%;
}
.list-piiic-list .cell .cell-word .type .logo img{
    width:100%;
}
.list-piiic-list .cell .cell-word .footer{
    height: 10%;
    width:100%;
    position: absolute;
    top:80%;
}
.list-piiic-list .cell .cell-word .footer img{
    display: inline-block;
    position: absolute;
    right: 8%;
    width: 50%;
    height:16px;
    background: #00aaff;
}
.list-piiic-list .cell .cell-word .footer .author{
    color: white;
    display: inline-block;
    position: absolute;
    right: 12%;
}


/* 下方列表内容 */

::-webkit-scrollbar{
    width: .6em;
    height: 1em;
    background: #ffd90e;
}
::-webkit-scrollbar-thumb {
     background: #03B7FF;
 }
